<!DOCTYPE html>

<html ng-app="laboratory">
    <head>
        <script src='/dist/vendor.bundle.js'></script>
        <script src='/dist/app.bundle.js'></script>
        <title>testsite1</title>
    </head>
    <body ng-controller="LayoutController">
        <identity logo="https://st3.depositphotos.com/1688079/13153/i/1600/depositphotos_131533928-stock-photo-save-floppy-disk-icon-white.jpg" title="{{ identity.title }}">
            <div class="identity-content">
                <searchbar search="identity.search" prompt="{{ identity.prompt }}" button="{{ identity.button }}" submit="identity.submit(query)"></searchbar>
                <navbar links="links"></navbar>
            </div>
        </identity>

        <searchbar search="tags.filter" prompt="{{ tags.prompt }}"></searchbar>

        <bloc ng-repeat="bloc in blocs | filter:tags.filter track by bloc.tags"></bloc>
    </body>
</html>
