.bloc
  position: relative
  display: inline-block
  vertical-align: top
  margin: 10px
  background-color: $secondary
  @include transition(color 1s .5s)

  &:hover
    background-color: $primary
    color: $secondary

    %bloc-text
      color: $secondary

  border: 1px solid $primary
  @include shadow(5px 5px $shadows)

  height: 175px
  max-width: 300px

%bloc-text

  color: $primary
  font-family: 'Orkney'

  @include transition(color .25s)

  margin: 0px
  padding: 8px


.bloc-title
  @extend %bloc-text
  font-size: 1.5em

.bloc-main
  @extend %bloc-text
  padding-top: 0px
 
  
