@mixin transition($property, $duration, $delay)
  -moz-transition: $property, $duration, $delay
  -o-transition: $property, $duration, $delay
  -webkit-transition: $property, $duration, $delay
  transition: $property, $duration, $delay

@mixin shadow($x, $y, $color: $shadows)
  box-shadow: $x $y $color
